.big-button {
    background: $purpal;
    border: none;
    border-bottom: 0.6rem solid darken($purpal, 10%);
    color: white;
    font-weight: bold;
    font-size: $m-size;
    margin-bottom: $s-size;
    padding: $m-size;
    width: 100%;
}

.big-button:disabled {
    opacity: 0.5;
}

.button {
    background: $purpal;
    border: none;
    border-bottom: 0.3rem solid darken($purpal, 10%);
    color: white;
    font-weight: 500;
    padding: $ss-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

@media(min-width: $sesktop-breakpoint){
    .big-button{
        margin-bottom: $l-size;
    }
}