.header {
   background: $off-black;
   color: white;
   margin-bottom: $s-size;
   padding: $s-size 0;
}

// BEM -> block element modifier
.header__title{
    font-size: $m-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $s-size;
    font-weight: 500;
    margin: 0;
}

@media(min-width: $sesktop-breakpoint) {
    .header{
        margin-bottom: $l-size;
    }
}