.option {
    border-bottom: .1rem solid lighten($light-blue, 10%);
    display: flex;
    justify-content: space-between;
    padding: $m-size $s-size; 
}

.option__option {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
}