// colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purpal: #8357c5;
$dark-red: #b42828;

// size ing
$l-size: 4.8rem;
$m-size: 3.2rem;
$s-size: 1.6rem;
$ss-size: 1.2rem;
$sesktop-breakpoint: 45rem;